.contacts {
  display: flex;
  height: 100%;
}

.form-container {
  width: 50%;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}

.contacts__title {
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 600;
  line-height: 59px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 57px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.contacts-us-form {
  width: 469px;
}

.form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.form__size {
  padding-left: 30px;

  font-size: 24px;
  height: 80px;
  width: 467px;

  border: 2px solid $accent-color;
}

.form__size_textarea {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 24px;
  height: 230px;
  width: 467px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.contacts-form,
.image-container {
  flex: 1; /* кожен дитячий елемент займатиме 50% ширини контейнера */
  min-width: 0; /* це запобігає виходженню елементів за межі контейнера на невеликих екранах */
}

.image-container {
  /* ваші стилі для контейнера зображення */
  background-size: cover; /* припустимо, що ви хочете покрити всю область зображенням */
  background-position: center; /* центрування зображення в контейнері */
}

// .image-container::before {
//   content: "";
//   background: url("path-to-man-image.jpg") center center no-repeat;
//   background-size: cover;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 200px; /* adjust as necessary */
//   height: 200px; /* adjust as necessary */
//   border-radius: 50%;
//   box-shadow: 0 0 0 1000px #ffe680; /* large shadow to create the yellow circle */
// }
