.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1px) {
    &--display {
      display: block;
    }
  }

  @include mobile {
    width: 468px;
  }
  @include laptop {
    width: 1204px;
  }
  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
    width: 1800px;
  }
}
