.contacts {
  display: flex;
  height: 100%;
  background: radial-gradient(
    30% 50% at 65% 50%,
    rgba(128, 107, 0, 0.2) 0%,
    rgba(255, 214, 0, 0) 100%
  );
}

.form-container {
  width: 50%;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}

.contacts__title {
  @include laptop {
    width: 443px;

    font-size: 40px;
    margin-bottom: 48px;
    font-weight: 600;
    line-height: 48.76px;
  }

  @include desktop {
    width: 531px;

    font-size: 48px;
    margin-bottom: 48px;
    font-weight: 600;
    line-height: 59px;
  }
}

.contacts__text {
  @include laptop {
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 26.82px;
  }

  @include desktop {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 57px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
}

.contacts-us-form {
  width: 469px;
}

.form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.form__size {
  padding-left: 30px;

  border: 2px solid rgba(0, 0, 0, 1);

  @include laptop {
    font-size: 16px;
    line-height: 19.5px;
    height: 60px;
    width: 388px;
  }
  @include desktop {
    font-size: 24px;
    height: 80px;
    width: 467px;
    line-height: 21.94px;
  }
}

.form__size_textarea {
  @include laptop {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 19.5px;
    height: 180px;
    width: 388px;

    @include desktop {
      padding-left: 30px;
      padding-top: 30px;
      font-size: 24px;
      height: 230px;
      width: 467px;
    }
  }
}

.contacts-form,
.image-container {
  flex: 1;
  min-width: 0;
}
