.contacts {
  display: flex;
  height: 100%;
  background: radial-gradient(
    30% 50% at 65% 50%,
    rgba(128, 107, 0, 0.2) 0%,
    rgba(255, 214, 0, 0) 100%
  );
}

.form-container {
  width: 50%;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}

.contacts__title {
  width: 531px;

  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 600;
  line-height: 59px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 57px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.contacts-us-form {
  width: 469px;
}

.form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.form__size {
  padding-left: 30px;

  font-size: 24px;
  height: 80px;
  width: 467px;

  border: 2px solid $accent-color;
}

.form__size_textarea {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 24px;
  height: 230px;
  width: 467px;
}

.contacts-form,
.image-container {
  flex: 1;
  min-width: 0;
}
