.features-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;

  @include laptop {
    justify-content: space-between;
    display: flex;
  }

  @include desktop {
    justify-content: center;
  }
}

.features-box {
  position: relative;
  z-index: 101;

  @include laptop {
    margin-top: 0px;
    margin-top: 115px;
  }
}

.features__title {
  display: none;

  margin-bottom: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 57px;
  color: rgba(0, 0, 0, 1);

  @include laptop {
    display: block;
  }

  @include desktop {
    font-size: 48px;
  }
}

.features-list__item {
  display: block;
  height: 198px;
  width: 280px;
  text-align: center;

  border: 1px solid black;

  align-items: center;
  background: rgba(255, 251, 230, 1);

  box-shadow: 0px 4px 15px 0px rgba(38, 50, 56, 0.35);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include laptop {
    display: flex;
    width: 388px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include desktop {
    width: 586px;
  }
}

.features-list__img {
  margin-left: 30%;
  width: 115px;
  height: 115px;

  margin-right: 20px;
  flex-shrink: 0;

  @include laptop {
    margin-left: 0;
    margin-right: 0;
    width: 100px;
    height: 100px;
  }

  @include desktop {
    width: 135px;
    height: 135px;
  }
}

.features-list__img_upgrade {
  @include laptop {
    height: 60px;
  }
}

.features-list__content {
  display: flex;
}

.features-list__title,
.features-list__text {
  font-weight: 400;
  line-height: 16.8px;
  font-size: 12px;

  margin: 0;

  @include desktop {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.features-list__title {
  font-weight: 600;
}

.features-list__item_upgrade {
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 122px;
  height: 74px;

  @include laptop {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.features-list__div {
  display: none;
  @include laptop {
    display: block;
    text-align: left;
  }
}
