.information {
  display: flex;

  margin-top: 120px;
}

.calc {
  width: calc(50%);
}

.general__title {
  z-index: 100;
}

.title-lampot__bcg {
  position: absolute;
}

.title-lampot__img {
  width: 100%;
  width: 70%;
  margin-left: 595px;
  margin-top: -223px;
}

.title-lampot__eclipse {
  position: absolute;
  margin-top: 250px;
  margin-left: 150px;
}

.title-laptop {
  position: relative;
  margin-top: -67px;
  margin-left: 48px;
}

> .title-laptop__img {
  position: relative;
  width: 70%;
  margin-left: 595px;
  margin-top: -233px;
}

.what-do-we-do {
  font-size: 60px;
  font-weight: 800;
  line-height: 78px;
}
.guarantee {
  color: rgba(255, 214, 0, 1);
}

.our-specialists {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;

  padding-top: 50px;
}

.primary__link {
  @extend %link;
  justify-content: center;
  align-items: center;
  display: flex;
}

.that-we-provide {
  margin-top: 100px;
}

.general__social {
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
}

.social-media-list__item {
  @extend %list;
  &:hover,
  :focus {
    background-color: rgba(255, 226, 77, 1);
  }
}
