.information {
  display: flex;

  @include laptop {
    margin-top: 65px;
  }
}

.calc {
  @include mobile {
    width: calc(30%);
  }
  @include laptop {
    width: calc(50%);
  }

  @include desktop {
    width: calc(50%);
  }
}

.general__title {
  z-index: 100;
}

.title-lampot__bcg {
  position: absolute;
  display: none;

  @include laptop {
    display: block;
  }
}

.title-lampot__img {
  @include mobile {
    display: none;
  }

  @include laptop {
    display: block;
    width: 60%;
    margin-left: 595px;
  }

  @include desktop {
    width: 60%;
    margin-left: 595px;
    margin-top: -223px;
  }
}

.title-lampot__eclipse {
  position: absolute;
  margin-top: 250px;
  margin-left: 150px;
}

.title-laptop {
  display: none;

  @include laptop {
    display: block;

    position: relative;
    margin-top: -55px;
  }

  @include desktop {
    position: relative;
    margin-top: -67px;
    margin-left: -50px;
  }
}

.title-laptop__mobile {
  position: relative;

  @include laptop {
    display: none;
  }
}

> .title-laptop__img {
  position: relative;
  width: 70%;
  margin-left: 595px;
  margin-top: -233px;
}

.what-do-we-do {
  font-size: 22px;
  font-weight: 800;
  line-height: 27px;
  width: 175px;

  @include laptop {
    width: 789px;
    font-size: 54px;
    font-weight: 800;
    line-height: 65.83px;
  }

  @include desktop {
    width: 789px;
    font-size: 60px;
    font-weight: 800;
    line-height: 78px;
  }
}
.guarantee {
  color: rgba(255, 214, 0, 1);
}

.our-specialists {
  padding-top: 50px;

  @include mobile {
    display: none;
  }

  @include laptop {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
  }

  @include desktop {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
  }
}

.primary__link {
  @extend %link;
  width: 250px;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
}

.that-we-provide {
  margin-top: 170px;
  display: block;

  @include laptop {
    margin-top: 100px;
    display: flex;
  }
}

.general__social {
  margin-top: 34px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 60px;
  align-items: center;
  justify-content: center;

  @include laptop {
    margin-top: 85px;
    width: 388px;
  }
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
}

.social-media-list__item {
  @extend %list;
  display: none;

  @include laptop {
    display: flex;
  }
}

.social__svg {
  path {
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover,
  &:focus {
    path {
      stroke: rgba(255, 214, 0, 1);
    }
  }
}

.social-svg__instagram:hover,
:focus path {
  stroke: rgba(255, 214, 0, 1);
}

.social-svg__instagram {
  margin-top: 13px;
}

.title-mobile {
  margin-top: -28px;
  margin-left: 24px;
}

.bcg-mobile {
  position: absolute;
  margin-top: -4px;
  margin-left: 93px;

  @include laptop {
    display: none;
  }
}

.info-mobile {
  @include tablet {
    width: 90%;
  }
  @include laptop {
    display: none;
  }
}
