.header {
  position: fixed;

  left: 0;
  right: 0;

  z-index: 1000;
  background-color: rgba(255, 251, 230, 1);
}

.main {
  padding-top: 84px;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &_img {
    width: 158px;
    height: 54px;
    background-color: transparent;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  list-style-type: none;

  @include laptop {
    margin-left: 95px;
    &:first-child {
      margin-left: 40px;
      gap: 20px;
    }
  }

  @include desktop {
    margin-left: 151px;
    &:first-child {
      margin-left: 50px;
      gap: 30px;
    }
  }

  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;
  justify-content: center;
}

.nav-list__gap {
  gap: 50px;
}

.nav-list__item {
  color: rgba(0, 0, 0, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover,
  :focus {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
  }

  @include desktop {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
  }
}

.header .container {
  display: flex;

  align-items: center;
}

.item-link {
  @extend %link;
  color: rgba(0, 0, 0, 1);
}

.nav-lis__id {
  @extend %link;
}

.dropbtn {
  background-color: rgba(255, 251, 230, 1);

  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);

  &:hover,
  :focus {
    color: rgba(255, 214, 0, 1);
  }

  @include desktop {
    padding: 20px;
    font-size: 18px;
  }
}

.dropdown {
  @include laptop {
    margin-left: 82px;
  }
  @include desktop {
    position: relative;
    margin-left: auto;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 251, 230, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;

  @include desktop {
    font-size: 18px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn__arrow {
  position: absolute;
  margin-left: -18px;
}

.nav-list__link {
  position: relative;
  @extend %link;
  color: rgba(0, 0, 0, 1);

  &:hover,
  :focus {
    color: rgba(255, 214, 0, 1);
  }
}

.nav-list__img {
  position: absolute;
  margin-left: -30px;
  top: -5px;
}

.dropdown-content__link {
  &:hover,
  :focus {
    color: rgba(255, 214, 0, 1);
  }
}
