.data {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.info {
  width: 50%;
  position: relative;
}

.map {
  display: none;

  @include laptop {
    display: flex;
    width: 100%;
    margin-left: 90px;
  }
}

.info__item {
  display: flex;
  align-items: center;
  @extend %list;
}

.data__title {
  display: none;
  margin-bottom: 68px;

  @include laptop {
    display: block;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
  }

  @include desktop {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
  }
}

.info-bcg__img {
  display: none;
  @include laptop {
    display: block;
    margin-top: -300px;
    margin-left: -270px;
    position: absolute;
  }
}

.info__title {
  margin-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  color: rgba(0, 0, 0, 0.7);

  @include laptop {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: rgba(0, 0, 0, 1);
  }

  @include desktop {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
}

.info__text {
  font-size: 11px;
  font-weight: 600;
  line-height: 14.63px;

  @include laptop {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
  }

  @include desktop {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}

.info__list {
  gap: 30px;
  display: grid;
  @include laptop {
    gap: 39px;
  }
}

.info__item__margin {
  height: 20px;
  margin-left: 10px;

  @include laptop {
    width: 400px;
    height: 60px;
    margin-left: 15px;
  }

  @include desktop {
    margin-left: 34px;
  }
}

.info__img {
  width: 20px;
  height: 20px;

  @include laptop {
    width: 30px;
    height: 30px;
  }
}
