.title-img {
  width: 1193px;
  height: 994px;

  position: absolute;
  margin-top: -540px;
  margin-left: 540px;

  background: radial-gradient(
    71.29% 50.29% at 60% 60%,
    #ffd600 0%,
    rgba(255, 214, 0, 0) 80%
  );
}
