.price__title {
  margin-bottom: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;

  @include laptop {
    margin-bottom: 70px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.07px;
  }

  @include desktop {
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
  }
}

.price__btn {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 251, 230, 1);

  color: rgba(0, 0, 0, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(255, 214, 0, 1);
  }

  cursor: pointer;

  @include laptop {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;

    width: 388px;
    height: 90px;
  }

  @include desktop {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;

    width: 420px;
    height: 120px;
  }
}

.price__btn_boxShadow {
  display: none;
  box-shadow: 0px 4px 4px 0px rgba(38, 50, 56, 0.35);

  @include laptop {
    display: flex;
  }
}

.button__list {
  display: block;

  @include laptop {
    gap: 20px;
    display: flex;
  }

  @include desktop {
    gap: 159px;
  }
}

.btn__img {
  margin-right: 30px;
}

.price__table {
  display: none;

  @include laptop {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 21px;

    border: 1px solid rgba(0, 0, 0, 1);
    width: 1164px;

    padding: 60px;
  }

  @include desktop {
    width: 1580px;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 21px;
    height: 388px;
  }
}

.prices {
  @include laptop {
    margin-top: 65px;
  }
}

.price__item {
  font-size: 11px;
  font-weight: 400;
  line-height: 14.63px;
  padding-bottom: 15px;

  @include laptop {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    padding-bottom: 30px;
  }

  @include desktop {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 39px;
  }
}

.price__item_upgrade {
  padding-bottom: -30px;
}

.price__item_bold {
  line-height: 14.63px;
  font-weight: 600;

  @include laptop {
    line-height: 22px;
    font-weight: 900;
  }
}

.price__list {
  padding-left: 100px;
  padding-right: 100px;
}

.image__people {
  width: 75%;
  position: relative;
}

.image__bcg {
  width: 75%;
  position: absolute;
}

.price-table__mobile {
  width: 300px;
}
