.phone-price__table {
  display: none;

  @include laptop {
    display: block;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 113px;
    padding-bottom: 74px;
    border: 1px solid rgba(0, 0, 0, 1);

    width: 1163px;
  }

  @include desktop {
    padding-left: 303px;
    padding-right: 303px;
    padding-top: 113px;
    padding-bottom: 104px;

    width: 1580px;
  }
}
