.progress-bar {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.how-we-work__list {
  @extend %list;
  display: flex;
  text-align: center;

  @include laptop {
    gap: 63px;
  }

  @include desktop {
    gap: 148px;
  }
}

.feature-list {
  width: 1445px;
}

.how-we-work__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;

  margin-bottom: 70px;
  display: contents;

  @include desktop {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}
.circle {
  position: relative;
  width: 131px;
  height: 131px;
  background-color: rgba(255, 214, 0, 1);
  border-radius: 50%;
  position: relative;

  display: inline-block;
}

.bar {
  width: 300px;
  height: 5px;
  background-color: rgba(255, 214, 0, 1);
  position: absolute;
  top: 50%;
  left: 100%;
}

.circle__number {
  position: absolute;
  margin-top: 30px;
  margin-left: 38px;
}

.how-we-work__job {
  margin-bottom: 70px;
  text-align: center;

  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  color: rgba(0, 0, 0, 1);

  @include desktop {
    font-size: 48px;
    line-height: 57px;
  }
}

.how-we-work__information {
  margin-top: 30px;
}

.how-we-work__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  width: 258px;

  margin-top: 14px;

  @include desktop {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 283px;
  }
}
